h1{
 color: blueviolet;
 font-family: "Gill Sans Extrabold", sans-serif;
}
.sokhi{
    color:orange;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img{
    width: 90%;
    height: 50%;
    overflow: hidden;
}
}
.link-button{
    text-decoration: none;
    background-color:orange;
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(225, 16, 65);
    font-weight: 700;
}

.tusi{
    width: 40%;
    float: left;
    padding: 10 px 20px;
    margin: 2px;
}
.mona{
color: antiquewhite;
background-color: brown;
font-size: 30px;
}
.tushi{
background-image: url("D:\project\images\heraton.png");
background-repeat:no-repeat;
background-position: right;

}
.experience-area{

box-shadow: 10px 10px 40px rgb(37, 183, 8) ;
border-radius: 5px;
height:  80%;
}
#full-stack{
border-left: 7px solid;
border-image:linear-gradient(lightsalmon,tomato) ;
border-image-slice:1;

}
#baby-web{
border-left: 7px solid;
border-image:linear-gradient(blueviolet,cyan);

border-image-slice:1;
}
.second{
    text-align: center;
    float: left;
   color: rgb(218, 32, 106);
    
}
.messi{
    background-color:rgba(255, 0, 195, 0.715);
    font-size: 20px;

}
